@charset "UTF-8";

@media(max-width: 768px) {
    /*header {
        background-image: none;
    }*/
    .display-1 { 
        margin: 0px 10px 20px 10px;            
        font-size: 23px;          
    }
    .display-2 {
        margin: 0px 10px 50px 10px;          
        font-size: 21.5px;             
    }
    .display-3 { 
        margin: 20px;                  
    }
    .form-check {
        margin: 0px 20px;
    }
}

@media (orientation: portrait) {
    .dificuldades .btn {
        margin: 40px 10px;
    }

    .voltarMenu {
        display: block;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}